<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Comment entry:</strong>
  <%= @comment.comment_entry %>
</p>

<div id="comments">
	<%= render 'comments/form', comment: @comment %>
	< % @post.comments.each do |comment| %>
	<p>
		<%= comment.author %> said...<br />
		<%= comment.comment_entry %>
	</p>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
